<form name="form" class="form-horizontal">
  <input type="hidden" name="key" ng-modal="patient.key"/>
  <div class="form-group has-feedback">
    <label for="name" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
      <input ng-model="patient.name" type="text"
        class="form-control" id="name"
        placeholder="RN/Maria Joaquina do Amaral" required>
      <span
        class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="code" class="col-sm-2 control-label">Prontuário</label>
    <div class="col-sm-10">
      <input ng-model="patient.code" type="number"
        class="form-control" id="code" placeholder="24001" min="1"
        required ng-disabled="disable.indexOf('code') >= 0">
    </div>
  </div>
  
  <div class="form-group">
    <label for="blood_type" class="col-sm-2 control-label">Tipo
      sanguíneo</label>
    <div class="col-sm-10">
      <select class="form-control" name="blood_type"
        ng-model="patient.blood_type" required>
        <option ng-repeat="type in blood_types">{{type}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">Tipo</label>
    <div class="col-sm-10">
      <select class="form-control" name="type"
        ng-model="patient.type" required>
        <option ng-repeat="type in patient_types">{{type}}</option>
      </select>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success pull-right" ng-click="submit({patient:patient, form:form})">{{submit_text}}</button>
    <button ng-hide="{{reset === undefined}}" type="button" class="btn btn-default pull-left" ng-click="reset()">Limpar</button></span>
  </div>
</form>