<div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Transfusões <small>Lista de transfusões</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/">MEJC<small>RT</small></a></li>
      <li class="active"> <i class="fa ion-waterdrop"></i> Transfusões </li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <message-box></message-box>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Transfusões</h3>
            <div class="box-tools" style="width: 65%">
              <div class="input-group input-group-sm" >
                <div class="input-group-btn">
                  <a href="#/transfusion/new" class="btn btn-success btn-sm"><i class="fa ion-person-add"></i><span class="hidden-xs"> Novo </span></a>
                </div>
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Localizar" ng-keyup="ctrl.searchKeyUp($event)" ng-model="ctrl.filter">
                <div class="input-group-btn" ng-show="ctrl.applied_filter">
                  <button type="submit" class="btn btn-default btn-sm" ng-click="ctrl.clearSearchClick()"><i class="fa fa-times-circle"></i></button>
                </div>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-sm" ng-click="ctrl.searchClick()"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div>
              <br/>
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default"
                  ng-click="ctrl.filter_tags.naovisitado = ! ctrl.filter_tags.naovisitado; ctrl.searchClick()">
                  <input type="checkbox" ng-checked="!ctrl.filter_tags.visitado">
                  <span class="fa-stack"> 
                    <i class="fa fa-question fa-stack-1x text-success"></i>
                  </span>
                  <span class="hidden-xs"> Não visitado </span>
                </label>
                <label class="btn btn-default"
                  ng-click="ctrl.filter_tags.rt = ! ctrl.filter_tags.rt; ctrl.searchClick()">
                  <input type="checkbox" ng-checked="ctrl.filter_tags.rt">
                  <span class="fa-stack text-danger">
                    <i class="fa ion-waterdrop fa-stack-1x"></i> 
                    <i class="fa fa-ban fa-stack-2x" style="opacity: 0.8;"> </i>
                  </span>
                  <span class="hidden-xs"> Com reação </span>
                </label>
                <label class="btn btn-default"
                  ng-click="ctrl.filter_tags.semrt = ! ctrl.filter_tags.semrt; ctrl.searchClick()">
                  <input type="checkbox" ng-checked="!ctrl.filter_tags.semrt">
                  <span class="fa-stack"> 
                    <i class="fa fa-heart-o fa-stack-1x text-danger"></i>
                  </span>
                  <span class="hidden-xs"> Sem reação </span>
                </label>
              </div>
            </div>
          </div> <!-- ".box-header" -->
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Data</th>
                  <th class="hidden-xs">Código</th>
                  <th class="hidden-xs">Prontuário</th>
                  <th>Paciente</th>
                  <th class="hidden-xs">Etiquetas</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tr in ctrl.transfusions" class="small"
                  ng-class="{ danger: tr.tags.indexOf('rt') >= 0, success: tr.tags.indexOf('semrt') >= 0}" data-key="{{tr.key}}">
                   <td> {{ $index+1+ctrl.offset }} </td>
                  <td>{{ tr.date | brDate}}</td>
                  <td class="hidden-xs">{{ tr.code }}</td>
                  <td class="hidden-xs">{{ tr.patient.code }}</td>
                  <td class="visible-xs">{{ tr.patient.name | cut:true:20 }}</td>
                  <td class="hidden-xs">{{ tr.patient.name | cut:true:50 }}</td>
                  <td class="hidden-xs">
                    <span
                      ng-show="tr.tags.indexOf('rt') >= 0"
                      data-toggle="tooltip" data-placement="left"
                      title="Paciente visitado e com reação transfusional">
<!--                         <span class='fa-stack'> -->
<!--                             <i class="fa fa-medkit fa-stack-1x"></i>  -->
<!--                             <i class="fa fa-ban fa-stack-2x text-danger" style="opacity: 0.8;"></i> -->
<!--                         </span> -->
                        <span class="fa-stack text-danger">
                            <i class="fa ion-waterdrop fa-stack-1x"></i> 
                            <i class="fa fa-ban fa-stack-2x" style="opacity: 0.8;"> </i>
                        </span>
                    </span>
                    <span ng-show="tr.tags.indexOf('semrt') >= 0"
                      data-toggle="tooltip" data-placement="left"
                      title="Paciente visitado e sem reação transfusional">
                      <span class="fa-stack"> 
                        <i class="fa fa-heart-o fa-stack-1x text-danger"></i>
                      </span>
                    </span> 
                    <span ng-show="tr.tags.indexOf('naovisitado') >= 0"
                      data-toggle="tooltip" data-placement="left"
                      title="Paciente não visitado">
                      <span class="fa-stack"> 
                        <i class="fa fa-question fa-stack-1x text-success"></i>
                      </span>
                    </span>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button"
                        class="btn btn-primary">
                        <i class="fa fa-tag"></i> <span class="hidden-xs">
                          Etiquetar</span>
                      </button>
                      <button ng-click="ctrl.action(tr)" type="button"
                        class="btn btn-info">
                        <i class="fa fa-pencil"></i> <span class="hidden-xs">
                          Modificar </span>
                      </button>
                      <button ng-show="main.user.admin" ng-click="ctrl.action(tr)" type="button"
                        class="btn btn-danger">
                        <i class="fa fa-trash"></i> <span class="hidden-xs">
                          Apagar </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
              <span class="pull-left" ng-hide="ctrl.loading">
                <span ng-show="ctrl.applied_filter">
                    Filtro <strong>{{ctrl.applied_filter}}</strong>
                </span>
                <span ng-show="ctrl.filter_tags.rt" title="Paciente visitado e com reação transfusional">
                    <span class="fa-stack text-danger">
                        <i class="fa ion-waterdrop fa-stack-1x"></i> 
                        <i class="fa fa-ban fa-stack-2x" style="opacity: 0.8;"> </i>
                    </span>
                </span>
                <span ng-show="ctrl.filter_tags.semrt" title="Paciente visitado e sem reação transfusional">
                  <span class="fa-stack"> 
                    <i class="fa fa-heart-o fa-stack-1x text-danger"></i>
                  </span>
                </span>
                <span ng-show="ctrl.filter_tags.naovisitado " title="Paciente não visitado">
                  <span class="fa-stack"> 
                    <i class="fa fa-question fa-stack-1x text-success"></i>
                  </span>
                </span>
                <span>
                   {{ctrl.count}} transfusões (total de {{ctrl.total}}).
                </span>
              </span>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li ng-show="ctrl.prev_link"><a href="" ng-click="ctrl.goToPrev()">&lt;</a></li>
                <li ng-show="ctrl.prev_link || ctrl.next_link"><a>{{ctrl.page}}</a></li>
                <li ng-show="ctrl.next_link"><a href="" ng-click="ctrl.goToNext()">&gt;</a></li>
              </ul>
          </div>
          <div class="overlay" ng-show="ctrl.loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
