<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" ng-show="main.user">
      <li class="header">Tarefas</li>
      <!-- Optionally, you can add icons to the links -->
      <li ng-class="{active: main.page == 'dashboard'}"><a href="#/dashboard"><i class="fa fa-dashboard"></i> <span>Visão Geral</span></a></li>
      <li ng-class="{active: main.page == 'patient'}"><a href="#/patient"><i class="fa ion-person-stalker"></i> <span>Pacientes</span></a></li>
      <li ng-class="{active: main.page == 'transfusion'}"><a href="#/transfusion"><i class="fa ion-waterdrop"></i> <span>Transfusões</span></a></li>
    </ul>
    <ul class="sidebar-menu" ng-show="main.need_login">
      <li class="header">Tarefas</li>
      <!-- Optionally, you can add icons to the links -->
      <li ng-class="{active: main.page == 'login'}"><a href="#/login"><i class="fa fa-sign-in"></i> <span>Entrar no sistema</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>